
//-----------------------------color pallet
$lightest: rgb(247, 255, 229);
$light: rgb(225, 236, 200);
$dark: rgb(196, 215, 178);
$darkest: rgb(160, 196, 157);


// ---------------------------global styling
* {
    margin: 0;
    padding: 0;
    background-color:$darkest;
    font-family: Merriweather sans;
}
body{
    display: flex;
    align-content: center;
}
a{
    color:black;
    text-decoration: none;
    background-color: inherit;
    font-size: rem;
    border-radius: 10px;
    padding:3px;
}
a:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px $darkest;
}
.g-card {
    margin: 2rem;
    background-color:$lightest;
    align-self: center;
    height: fit-content;
    width: 95vw;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(240, 237, 237, 0.466) ; 

}
.g-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    background-color: $lightest ;
    margin: 20px;
    
    h1,small{
        background-color: inherit;
    }

}

h3{
    background-color: inherit;
    padding-bottom: 10px;
}

.g-drop-down{
    background-color: inherit;
    position: relative;
    margin-left:20px;
}

.g-drop-city{
    background-color: $darkest;
}
.g-loading-overlay {
    position: fixed;
    z-index: 999;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    overflow: show;
    margin: auto;
    display:block;
    background-color: $darkest;
  }

// ---------------------------page styling
#p-main{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width:85vw;
    border-radius: 20px;
    background-color: inherit;
    align-items: center;
}
.p-infoTitles{
    text-decoration: underline;
}
// ---------------------------section styling
#s-weather-title{
    display: flex;
    flex-direction: column;
    align-self: start;
    // margin: 2rem;
    height: 100px;
    width: 400px;
    background-color:inherit;
    div{
        background-color: $lightest;
        padding:.4rem;
        font-weight: bold;
    }
    
}
#s-weather-details {
    background-color: $lightest;
    width:85vw;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-around;
    div{
        background-color: inherit;
        font-weight: 100;
    }
}
#s-drop-down-menu{
    background-color: $darkest;
    color: $lightest;
    width: fit-content;
    border-color: $darkest;
    border-width: 2px;
    height: 1.8rem;
    border-radius: 10px;
}

@media (max-width:600px) {
    .g-card{
        height: fit-content;
        margin: 0;
    }
    small{
        display:none;
    } 

    h3{
        font-size: 1rem,;
    }

    #s-weather-title {
        align-self: self-start;
        height: 150px;
        margin: 0;
        margin-top: 2rem;
        max-width: 200px ;

    }

    #s-weather-details{
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
   
}