// @import"sass/sass/weather-icons-wind.min.scss";
// @import"sass/sass/weather-icons.min.scss";
//-----------------------------color pallet
$lightest: rgb(247, 255, 229);
$light: rgb(225, 236, 200);
$dark: rgb(196, 215, 178);
$darkest: rgb(160, 196, 157);


// ---------------------------global styling
* {
    margin: 0;
    padding: 0;
    background-color:$darkest;
    font-family: Merriweather sans;
}
body{
    display: flex;
    align-content: center;
}
.g-card {
    margin: 2rem;
    background-color:$lightest;
    align-self: center;
    height: fit-content;
    width: 95vw;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(240, 237, 237, 0.466) ; 

}
.g-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    background-color: $lightest ;
    margin: 20px;
    
    h1,small{
        background-color: inherit;
    }

}

h3{
    background-color: inherit;
    padding-bottom: 10px;
}

.g-drop-down{
    background-color: inherit;
    position: relative;
    margin-left:20px;
}
//  targets the button so that when it is clicked it changes the dropdown divs opacity so it is visible. 
.g-drop-down > button:focus + div{
    opacity: 1;
    pointer-events:auto;   

}
.g-drop-city{
    background-color: $darkest;
}

// ---------------------------page styling
#p-main{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width:85vw;
    border-radius: 20px;
    background-color: inherit;
    align-items: center;
}
// ---------------------------section styling

#s-weather-title{
    display: flex;
    flex-direction: column;
    align-self: start;
    // justify-content:space-around
    margin: 2rem;
    // margin-bottom: 2rem;
    // margin-right: 8rem;
    height: 100px;
    width: 400px;
    background-color:inherit;
    div{
        background-color: $lightest;
        padding:.4rem;
        font-weight: bold;
    }
    
}
#s-weather-details {
    background-color: $lightest;
    width:85vw;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-around;
    div{
        background-color: inherit;
        font-weight: 100;
    }
}
#s-drop-down-menu{
    background-color: $darkest;
    color: $lightest;
    width: fit-content;
    border-color: $darkest;
    border-width: 2px;
    height: 1.8rem;
    border-radius: 10px;
}

@media (max-width:600px) {
    .g-card{
        height: fit-content;
        margin: 0;
    }
    small{
        display:none;
    }
    h3{
        font-size: 1rem,;
    }

    #s-weather-title {
        align-self: self-start;
        height: 150px;
        padding-left: 0px;
        margin: 0;
        margin-top: 2rem;

    }

    #s-weather-details{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    #s-weather-details > div {
       margin-top: 1rem;
    }
}